:root {
    --timberwolf: #d6d2d2ff;
    --pale-purple: #f1e4f3ff;
    --orchid-pink: #f4bbd3ff;
    --persian-pink: #f686bdff;
    --cyclamen: #fe5d9fff;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: var(--persian-pink);
}

.header-title {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.instruct ul {
    padding-left: 0;
    font-size: 1em;
    line-height: 1.5em;
}

.card {
    background-color: var(--timberwolf);
    border-radius: 0.5em;
}

button {
    width: 5em;
    border-radius: 1em;
}
